/* GEOM 101 Assignment 2
External CSS File for formatting
Author: Ashley Ford
Last Modified on: October 7 2021 */

/* Setting formatting for the basic elements below for heading 1, 2 and for paragraph */
body {
    background-color: whitesmoke;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  
  h2  {
    color: black;
    text-align: left;
    font-family: Arial;
    font-size: 20px;
    padding: 10px;
      
  }

  p {
    font-family: Arial;
    text-align: center;
    font-size: 18px;
    padding: 10px;
  }

/* This class formats the text for the about section so that it's uniform */
.abouttext
{
  font-size: 18px;
  padding: 10px;
}

/* This is the formatting class for image caption text */
.captiontext {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 18px;
  padding: 10px;
}

/* This is the formatting class for the map on the about page */
/* Taken from https://www.w3schools.com/howto/howto_css_image_center.asp */
.mapclass {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* This section formats the external link I provided to the sand dune information */
/* Inspiration taken from: https://www.w3schools.com/html/html_links_colors.asp */
.sanddunelink a:link, .sanddunelink a:visited {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.sanddunelink a:hover {
  background-color: rgb(67, 233, 255);
}

/* This section formats the external link I provided to the sand dune information */
.tuliplink a:link, .tuliplink a:visited {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.tuliplink a:hover {
  background-color: rgb(67, 233, 255);
}

/* This section contains the formatting for the image div tables */
/* Styling for this taken from https://www.w3schools.com/howto/howto_css_images_side_by_side.asp and adapted */
/* Image container styling sections below for column and row (basically a makeshift table*/
.column {
  float: left;
  width: 32%;
  height: auto;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  height: auto;
  display: table;
}

/* This section contains the formatting for the navigation bar */
/* The following navbar classes were taken and modified from
https://www.w3schools.com/howto/howto_js_topnav.asp */
/* Add a black background color to the top navigation */
.navbar {
  font-family: Arial;
  background-color: #333;
  overflow: hidden;
}

/* Styling the links inside the navigation bar */
.navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 15px;
}

/* Changing the color of links when hovering over the buttons */
.navbar a:hover {
  background-color: rgb(67, 233, 255);
  color: black;
}
